
<h4>Listado</h4>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between aling.items-center"
  [ngClass]="{
    'list-group-item-dark': isLast,
    'list-group-item-primary': isEven}"
  *ngFor="let character of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even
  let isOdd = odd"
  >
  <div>
    <span> {{i + 1 }}. </span>
    <strong> Name: </strong>
    <span> {{character.name}} </span>
    <strong>Power:</strong>
    <span> {{character.power}} </span>
  </div>
  <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)"> X </button>
  </li>
</ul>
