<h4>AGREGAR PERSONAJE</h4>
  <form class="row" (ngSubmit)="this.emitCharacter()">

    <input type="text" placeholder="Nombre" [(ngModel)]="character.name" name="name">

    <input type="number" placeholder="Poder"  [(ngModel)]="character.power" name="power">

    <input class="btn btn-primary mt-1" type="submit" value="Agregar Personaje">

    <!-- <pre>{{ character | json }}</pre> -->
  </form>
