<h1> DBZ PAGE</h1>
<hr>

<div class="row">
  <div class="col">
    <app-dbz-list [characterList] ="characters"
    (onDelete)="onDeleteCharacter($event)"></app-dbz-list>


  </div>


  <div class="col">

    <app-dbz-add-character-form (onNewCharacter)="onNewCharacter($event)"></app-dbz-add-character-form>

  </div>
</div>
